Package: tunneler-server
Version: 1.2.1
Section: net
Priority: optional
Architecture: all
Maintainer: rhkr8521 <rhkr8521@rhkr8521.com>
Depends: bash, nginx, ufw, curl, jq, python3, python3-venv, python3-pip, ca-certificates, systemd, debconf
Recommends: certbot, python3-certbot-nginx
Description: Tunneler Server with auto nginx/ufw/ssl setup
 Installs Tunneler server and configures nginx/ufw and optional Let's Encrypt SSL.

